<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name="com.example.MainActivity"
            android:enabled="true"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.MyApplication" />

        <!-- Launcher Activity-Aliases for theme colors -->
        <activity-alias
            android:name="com.example.MainActivityAliasViolet"
            android:enabled="true"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_violet"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_violet"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasTeal"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_teal"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_teal"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasAmber"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_amber"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_amber"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasEmerald"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_emerald"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_emerald"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasRose"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_rose"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_rose"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasBlue"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_blue"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_blue"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasRed"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_red"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_red"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasIndigo"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_indigo"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_indigo"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasOrange"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_orange"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_orange"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasPurple"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_purple"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_purple"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>

        <activity-alias
            android:name="com.example.MainActivityAliasMaterialYou"
            android:enabled="false"
            android:exported="true"
            android:icon="@mipmap/ic_launcher_material_you"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round_material_you"
            android:targetActivity="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>
